@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anybody", Helvetica, sans-serif;
}
/*Estilos Presentes en todas las paginas del sitio: */
body {
    background-color: rgb(226, 226, 226);
    position: relative;
    min-height: 100vh;
}
main {
    padding-bottom: 90px;
}
img {
    max-width: 100%;
}
/* Estilo Cards */
.card--img img {
    width: 200px;
    height: 200px;
}
.card {
    border-radius: 8px;
    background-color: #fcab31;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px;
    /* ANIMACIONES */
    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .9s;
}
.card .card--text, .card .card--precio {
    text-transform: uppercase;
    padding: 5px 0px;
    text-align: center;
}
/* Card Transition */
.card:hover{
    transform: scale(1.05);
}
/* Secciones Presentes en Todas las paginas */
/* HEADER */
#logo{
    width: 60px;
}
/* FOOTER */
footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    background-color: rgb(161, 161, 161);

    position: absolute;
    bottom: 0;  
}
.socialLogo {
    height: 50px;
    padding: 10px 10px 10px 0 ;
}
.socialLogo:hover{
    transform: scale(1.1);
}
/* Estilos de Paginas */
/* INDEX */
/* Estilo grid de index */
.index_main {
    display: grid;
    grid-template-areas: 
    "hero"
    "destacados"
    "extra"
    "newsletter"
    ;
}
/* Hero Section */
.heroSection {
    grid-area: hero;

    display: flex;
    flex-flow: column;

    text-align: center;

    padding: 5px;
}
.heroSection--txt {
    background-color: #fcab31;
    padding: 5px;

    /* Animacion */
    animation-name: fade-in-left;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .9s;
}
.heroSection--txt p {
    text-align: justify;
}
.heroSection--img {
    animation-name: fade-in-right;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .9s;
}


/* Productos Destacados Section */
.destacados {
    grid-area: destacados;

    text-align: center;
}
.destacados--grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: center;

    padding-bottom: 5px;
}
/* Extra Section */
.seccionExtra{
    grid-area: extra;

    display: flex;
    flex-flow: column;

    text-align: center;

    padding: 0 20px;
    margin-bottom: 50px;
}
.ingredientes, .instrucciones {
    text-align: justify;
}
.ingredientes ul, .instrucciones ol {
    list-style-type: none;
}
/* Newsletter */
.newsletter{
    grid-area: newsletter;

    display: flex;
    flex-flow: column;
    text-align: center;
}
.newsletter--desc img{
    height: 200px;
    width: 200px;
}
.newsletter--form {
    display: flex;
    flex-flow: column;

    align-items: center;
}
.newsletter--form .inputText {
    border: 1px solid rgb(226, 226, 226);

    width: 70%;
    max-width: 300px;
    border-radius: 2px;
    margin-bottom: 5px;
}
.newsletter--form .button {
    background-color: #fcab31;
    border-color: #fcab31;
    border-radius: 5px;
    padding: 5px;
}
/* CONOCENOS */
.imgBackgroundOne{
    background-image: url("public/apicultor_familia2_smaller.jpg");
    z-index: -1; 
}
.imgBackgroundTwo{
    background-image: url("public/apicultor_familia.jpg");
    z-index: -1;
}
.textoSobreImagen {
	color:rgb(255, 255, 255);
	font-size: 1.5em;
	position: absolute;
    text-shadow: 2px 2px #5c3d13;
	
    width: 100%;
    text-align: center;
    top: 30%;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 45vh;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.textoConocenos, .textoPremios {
    font-style: italic;
    padding: 10px 10px 0 10px   ;
}

.historia, .premios {
    padding: 5px;
    text-align: justify;
}
.listaPremios {
    padding: 5px;
    list-style-type: none;
    text-align: center;
}
.textoPremios h4 {
    text-align: center;
}
/* PRODUCTOS */
.sidebar {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 10px;

    text-transform: uppercase;
    animation-name: fade-in-left;
    animation-iteration-count: 1;
    animation-duration: .9s;
}
.sidebar ul {
    list-style-type: none;
    padding-left: 10px;
}
.sidebar ul li {
    padding: 2px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #000;
}
.sidebar ul li a:hover{
    border-bottom: #fcab31 solid;
}
.productos h2{
    text-align: center;
}
.productos--grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    justify-content: center;
}
/* SERVICIOS */
.serviciosDescripcion h2 {
    text-align: center;
}
.serviciosDescripcion {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.servicios--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    
    justify-content: center;
}
/* CONTACTO */
.contacto_main {
    display: grid;
    grid-template-areas: 
    "info"
    "horarios"
    "formulario"
    "googleMap"
    ;

    grid-row-gap: 30px ;

    align-items: center;
    justify-content: center;
    justify-items: center;
    max-width: 100vw;
    text-align: center;

}
.infoContacto{
    grid-area: info;
}
.horariosContacto {
    grid-area: horarios;
    text-align: justify;
}
.horariosContacto h4 {
    text-align: center;
}
.horariosContacto ul {
    list-style-type: none;
}
.formulario {
    grid-area: formulario;

    display: flex;
    flex-direction: column;

    border-style: solid;
    background: rgba(38,42,53);
    color: white;
    border-color: black;
    border-radius: 5px;
    padding: 10px;

    max-width: 400px;
}
.inputText {
    width: 90%;
}
.googleMap {
    grid-area: googleMap;

    /* ANIMACIONES */
    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .9s;
}
/* MEDIA QUERIES  Separadas por paginas */
/* INDEX */
@media screen and (min-width: 768px) {
    .heroSection {
        flex-flow: row;
        align-items: center;
        justify-content: center;
    }
    .heroSection--txt {
        max-width: 40vw;
        padding: 10px;
        margin-right: 10px;
    }
    .logo {
        margin-left: 10px;
    }
}
@media screen and (min-width: 1024px) {
    /* ESTILO grid de index*/
    .index_main {
        display: grid;
        grid-template-areas: 
        "hero hero"
        "destacados destacados"
        "extra newsletter"
        ;
    }
    .seccionExtra{
        max-width: 70vw;
        padding: 0;
    }
    .seccionExtra--contenido {
        max-width: 70%;
        align-self: center;
    }
    .newsletter {
        align-self: center;
        justify-self: center;
        padding-right: 50px;
    }
}
/* PRODUCTOS */
@media screen and (min-width:768px){
    .productos_main {
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    .productos {
        width: 100%;
    }
    .sidebar {
        width: 300px;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 20px;
    }
    .sidebar ul {
        list-style-type: none;
    }  
}
/* CONTACTO */
@media screen and (min-width: 768px) {
    .contacto_main {
        grid-template-areas: 
        "info info"
        "horarios formulario"
        "googleMap googleMap"
        ;
    }
    .googleMap {
        width: 550px;
        text-align: center;
    }
}
@media screen and (min-width: 1024px) {
    .contacto_main {
        grid-template-areas: 
        "info horarios formulario"
        "googleMap googleMap googleMap"
        ;
        grid-column-gap: 10px;
    }
}
/* ANIMACIONES */
@keyframes fade-in-left {
    0%{
        transform: translate(-300px);
        opacity: 0;
    }
    100%{
        transform: translate(0px, 0px);
    }
}
@keyframes fade-in-right {
    0%{
        transform: translate(300px);
        opacity: 0;
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

