// Fonts:
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables:
// Colores
$color-primary: #fcab31;
$color-secondary: #0f2535;;
$color-alternative: #0b9442;
$color-bright: #FFF;
$color-dark: #000;

// Fuentes
$font-header: "Anybody", Helvetica, sans-serif;
$font-text: Georgia, serif;

// Media Queries Width
$laptop: 768px;
$desktop: 1024px;



