/* CONTACTO */
.contacto_main {
    color: $color-dark;
    align-items: center;
    justify-content: center;
    justify-items: center;
    max-width: 100vw;
    text-align: center;
    .horariosContacto {
        ul {
            text-align: justify;
        }
    }
    .formulario {
        h2 {
            color: $color-bright;
        }
    }
}