// PAGINA INDEX
// SECTION HERO
.heroSection {
    margin-top: -1rem;
    min-height: calc(100vh - 91px);
    // min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: linear-gradient(180deg,#0009,#0002, #0000), url("./../public/colmenas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero--txtBackground{
        padding: 1rem;

        background: rgb(0,0,0);
        background: linear-gradient(360deg, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.03) 100%);
        .heroSection--txt {
            padding: 10px;
            
            h1,p{
                font-weight: bolder;
                color: $color-bright;
                text-shadow: 1px 1px #000;
            }
            
        }
    }
}

// SECTION PRODUCTOS DESTACADOS
.destacados {
    text-align: center;
}

// SECTION NEWSLETTER
.newsletter{
    max-width: 550px;
    padding: 30px 0;

    input {
        min-width: 200px;
    }
}

// SECTION TUTORIAS
.tutorias {
    align-self: center;
}
// SECTION NEGOCIOS
.negocios{
    .carousel-caption {
        top: 0;
    } 
}

// SECTION TESTIMONIOS
.testimonios {
    color: $color-dark;
    .item {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        max-width: 500px;
    }

    .item-img {
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }

    .item-txt {
        font-style: italic;
    }
}


